body {
  /*background-image: url("bdlifestyles_logo.jpg");
    background-repeat: repeat-x;*/

  background-color: rgb(202, 218, 224);
  text-align: center;
}

/*.container{
  width: 910px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 20px 40px 20px #00000010;
  background-color: aqua;
  border-radius: 8px;
  margin-bottom: 20px;
}*/

form {
  height: 100vh;
  width: 900px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  font-size: 16px;
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.input-element {
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  }

  select option { 
    color:rgb(84, 84, 123); 
  }

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}



textarea {
  width: 890px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  resize: vertical;
  columns: rows;
}

button[type="submit"] {
  width: 150px;
  margin: 350px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  color: cornflowerblue text-align center;
  cursor: pointer;
  margin: 10px;
  margin-left: 270px;
  transition: .5s ease background-color;
}

button[type="submit"]:hover {
  background-color: lightseagreen
}
button[type="reset"] {
  
  width: 150px;
  margin: 350px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  color: cornflowerblue text-align center;
  cursor: pointer;
  margin: 10px;
  transition: .5s ease background-color;
}

button[type="reset"]:hover {
  background-color: lightseagreen
}